/* Font Stuff */

@font-face {
    font-family: Futura-Bold;
    src: url("Futura_Bold.ttf");
}

@font-face {
    font-family: Futura-Book;
    src: url("Futura_Book.ttf");
}

@font-face {
    font-family: Futura-Round;
    src: url("Futura_Round.ttf");
}

@font-face {
    font-family: Futura-Std-Book;
    src: url("Futura_Std_Book.ttf");
}

@font-face {
    font-family: Futura-Std-Heavy;
    src: url("Futura_Std_Heavy.ttf");
}

@font-face {
    font-family: Futura-Thin;
    src: url("Futura_Thin.ttf");
}