html {
  cursor: url("../images/Small_Cursor.png"), auto;
}

body {
  cursor: url("../images/Small_Cursor.png"), auto;
}

.backgroundthing {
  cursor: url("../images/Small_Cursor.png"), auto;
}

a {
  cursor: url("../images/Small_Cursor.png"), auto;
}

.footerig {
  cursor: url("../images/Small_Cursor.png"), auto;
}

#logo {
  cursor: url("../images/Small_Cursor.png"), auto;
}

#photoBoard {
  cursor: url("../images/Small_Cursor.png"), auto;
}

.rrbutton {
  cursor: url("../images/Small_Cursor.png"), auto;
}

.rrbutton:hover {
  cursor: url("../images/Small_Cursor.png"), auto;
}
