@font-face {
  font-family: Futura;
  src: url("fonts/Futura_Bold.ttf");
}

body {
  font-family: Futura;
  background-color: rgb(248, 125, 2);
  color: rgb(255, 197, 140);
  background-image: url("../images/AnimatedBackground.gif");
  background-size: cover;
}

.backgroundthing {
  background-color: rgb(222, 98, 4);
  width: 70%;
}

#logo {
  width: 40%;
  height: 20%;
}

#photoBoard {
  width: 70%;
}
